# Reading 2015 amazon sales data

In [1]:
import pandas as pd

path = r"C:\Users\haris\OneDrive\Desktop\Guvi\Projects\Amazon_Sales_Analysis\dataset\amazon_india_2015.csv"
df = pd.read_csv(path)

In [2]:
df.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [3]:
df.isna().sum()

transaction_id                0
order_date                    0
customer_id                   0
product_id                    0
product_name                  0
category                      0
subcategory                   0
brand                         0
original_price_inr            0
discount_percent              0
discounted_price_inr          0
quantity                      0
subtotal_inr                  0
delivery_charges           2654
final_amount_inr              0
customer_city                 0
customer_state                0
customer_tier                 0
customer_spending_tier        0
customer_age_group         3976
payment_method                0
delivery_days                 0
delivery_type                 0
is_prime_member               0
is_festival_sale              0
festival_name             22581
customer_rating            9969
return_status                 0
order_month                   0
order_year                    0
order_quarter                 0
product_weight_kg             0
is_prime_eligible             0
product_rating                0
dtype: int64

# Question 1
Your dataset contains order_date in multiple formats: 'DD/MM/YYYY', 'DD-MM-YY', 'YYYY-MM-DD', and some invalid entries like '32/13/2020'. Clean and standardize all dates to 'YYYY-MM-DD' format, handling invalid dates appropriately.
# Question 2
The original_price_inr column contains mixed data types: numeric values, text with 'â‚¹' symbols, comma separators ('â‚¹1,25,000'), and some entries like 'Price on Request'. Clean this column to contain only numeric values in Indian Rupees.
# Question 3
Customer ratings appear in various formats: '5.0', '4 stars', '3/5', '2.5/5.0', and some missing values. Standardize all ratings to numeric scale 1.0-5.0, handling inconsistent formats and missing values strategically.
# Question 4
The customer_city column has inconsistent naming: 'Bangalore/Bengaluru', 'Mumbai/Bombay', 'Delhi/New Delhi', along with spelling errors and case variations. Standardize all city names and handle geographical variations.
# Question 5
Boolean columns (is_prime_member, is_prime_eligible, is_festival_sale) contain mixed values: True/False, Yes/No, 1/0, Y/N, and some missing entries. Convert all boolean columns to consistent True/False format.
# Question 6
Product categories have variations: 'Electronics/Electronic/ELECTRONICS/Electronics & Accessories'. Standardize category names across the dataset and ensure consistent naming conventions.
# Question 7
The delivery_days column contains negative values, text entries like 'Same Day', '1-2 days', and some unrealistic values like 50 days. Clean this column to contain only valid numeric delivery days.
# Question 8
Identify and handle duplicate transactions where the same customer, product, date, and amount appear multiple times. Some duplicates are genuine (bulk orders) while others are data errors. Develop a strategy to distinguish and handle both cases.
# Question 9
The dataset contains outlier prices where some products show prices 100x higher than expected due to data entry errors (decimal point issues). Identify and correct these outliers using statistical methods and domain knowledge.
# Question 10
Payment methods contain inconsistent naming: 'UPI/PhonePe/GooglePay', 'Credit Card/CREDIT_CARD/CC', 'Cash on Delivery/COD/C.O.D'. Standardize payment method categories and create a clean categorical hierarchy.

In [4]:
df["order_date"]

0        2015-01-25
1        2015-01-05
2        2015-01-24
3        2015-01-28
4        2015-01-31
            ...
33160    2015-01-24
33161    2015-03-01
33162    2015-02-27
33163    2015-12-04
33164    2015-07-27
Name: order_date, Length: 33165, dtype: object

In [ ]:
import pandas as pd
from dateutil import parser
import numpy as np

# Sample data
data = {
    'order_date': [
        '12/09/2023',  # DD/MM/YYYY
        '15-10-21',    # DD-MM-YY
        '2022-08-30',  # YYYY-MM-DD
        '32/13/2020',  # Invalid
        '07/11/2021',  # DD/MM/YYYY
        '2020-12-01',  # YYYY-MM-DD
        '29-02-19',    # DD-MM-YY (invalid for non-leap year)
        'not a date',  # Invalid
    ]
}

df = pd.DataFrame(data)

# Function to parse dates
def parse_date(date_str):
    try:
        # Use dateutil parser with dayfirst=True for mixed formats
        dt = parser.parse(date_str, dayfirst=True)
        return dt.date()
    except Exception:
        return pd.NaT

# Apply parsing function
df['clean_date'] = df['order_date'].apply(parse_date)

# Convert to standardized format 'YYYY-MM-DD'
df['clean_date'] = pd.to_datetime(df['clean_date']).dt.strftime('%Y-%m-%d')

# If desired, replace NaT formatted strings with None or leave as-is
df.loc[df['clean_date'] == 'NaT', 'clean_date'] = None

print(df)